.guide-des-tailles {
	@apply fixed w-full min-h-screen top-0 left-0 z-50 text-sm;
	background: rgba(0, 0, 0, 0.75);
	padding: var(--page-padding);

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s, opacity 0.5s;

	&.active {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s linear 0s, opacity 0.5s;
	}

	.content {
		@apply absolute bg-light;

		top: var(--page-padding);
		left: var(--page-padding);
		width: calc(100% - (var(--page-padding) * 2));
		height: calc(100% - (var(--page-padding) * 2));

		overflow: scroll;
		padding: calc(var(--page-padding) * 2) var(--page-padding);

		@media screen and (min-width: $lg) {
			padding: calc(var(--page-padding) * 1.5);
			display: grid;
			grid-template-columns: 6fr 2fr;
		}

		h2 {
			@apply font-title font-extrabold uppercase;
		}

		h3 {
			@apply font-bold;
		}

		p {
			@apply leading-loose;
		}

		.btn-close {
			cursor: pointer;

			@media screen and (min-width: $md) {
				position: absolute;
				top: 30px;
				right: 30px;
			}

			img {
				margin: 0 auto 2rem;
			}
		}
	}

	.table-container {
		overflow-y: scroll;
		width: 100%;
	}

	table {
		min-width: 100%;

		tr {
			th {
				font-weight: bold;

				&:first-child {
					font-weight: normal;
				}
			}

			td,
			th {
				text-align: right;
				padding: 1rem 0 1rem 2rem;
				border-bottom: 1px solid rgba($dark, 0.2);

				&:first-child {
					text-align: left;
					padding: 1rem 0;
				}
			}
		}
	}
}
