.text-base {
	@media screen and (min-width: $lg) {
		font-size: calc(0.95rem + 0.3vw);
	}
}

.text-lg {
	@media screen and (min-width: $lg) {
		font-size: calc(0.95rem + 0.35vw);
	}
}

.text-xl {
	@media screen and (min-width: $lg) {
		font-size: calc(1.25rem + 0.35vw);
	}
}

.text-2xl {
	@media screen and (min-width: $lg) {
		font-size: 3vw;
	}
}

.text-3xl {
	@media screen and (min-width: $lg) {
		font-size: 7.2vw;
	}
}
